body{
    font-family: Times New Roman, serif;
    background: linear-gradient(90deg, #CA1111 0%, #0C0B0B 45%, #0A0B5D 100%);
    color: aquamarine;
}
img{
    height: 250px;
    background: linear-gradient(270deg, #CA1111 0%, #0C0B0B 45%, #0A0B5D 100%);
    
}

.sidebar{
    color: yellow;
    background: linear-gradient(270deg, #7B82D0 0%, #983E3E 100%);
}
.card{
    background: linear-gradient(90deg, #A72828 0%, #5D5B5B 45%, #1011A7 100%);
}
.slide-text{
    margin: auto auto;
}
a{
    text-decoration: none;
    color: aquamarine;
}
footer{
    background: linear-gradient(270deg, #CA1111 0%, #0C0B0B 45%, #0A0B5D 100%);
}
.media-links{
     display: flex;
    justify-content: center;
    align-items: center;
    
}
.animation{
    animation: myAnim 2s ease 0s infinite normal forwards;
    
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@import url ('https://fonts.googleapis.com/css?family=Times New Roman&display=swap')
    
